p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	/*background-color: rgba(127, 127, 207, 0.5);*/
	text-shadow: 1px 1px 2px navy;
}

h2 {
	background: linear-gradient(white, #ffefaf);
	/*border: solid 1px black;*/
	margin: 5px;
	font-family:cursive;
	color: #3f3faf;
}

div#zentai {
	display: Grid;
	grid-template-rows: 200px;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	padding: 5px;
}

div#zentai > div {
	margin: 0;
	background-color: #ffefaf;
}

img {
    float: right;
	
}